.cardsFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.cards{
    margin:20px;

}
.center{
    align-items: center;
    justify-content: center;
    margin-top: 11222px;
}